<%- include ("partials/head") -%>

<div class="main">
    <textarea id="editor" onkeyup="refresh()" placeholder="Start editing here..."></textarea>
    <iframe id="viewer" scrolling="no"></iframe>
</div>

<%- include ("partials/footer") -%>